<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.letv.mas.router.omp.model.dao.OauthTokenMapper">

    <resultMap type="com.letv.mas.router.omp.model.bean.xdo.OauthTokenDo" id="authMap">
        <result column="id" property="id"/>
        <result column="client_id" property="client_id"/>
        <result column="user_id" property="user_id"/>
        <result column="access_token" property="access_token"/>
        <result column="refresh_token" property="refresh_token"/>
        <result column="expires" property="expires"/>
        <result column="scope" property="scope"/>
        <result column="is_del" property="is_del"/>
    </resultMap>

    <sql id="auth">
        id,user_id,client_id,access_token,refresh_token,expires,scope,is_del
    </sql>

    <insert id="insertNewToken" parameterType="com.letv.mas.router.omp.model.bean.xdo.OauthTokenDo">
        insert into oauth_token(client_id,user_id,access_token,refresh_token,expires,scope)
         values (#{client_id},#{user_id},#{access_token},#{refresh_token},#{expires},#{scope})
    </insert>

    <update id="stopUseApplications">
        update oauth_token set is_del = 1 where user_id=#{user_id} and client_id=#{client_id}
    </update>

    <update id="startUseApplications">
        update oauth_token set is_del = 0,access_token=#{token},refresh_token=#{refresh_token},expires=#{expires} where user_id=#{user_id} and client_id=#{client_id}
    </update>
</mapper>